@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 100vh;
}

h1{
    color: #00adb5;
    margin: 1rem;
    font-weight: bolder;
}

p{
    display: block;
    margin: 1rem 0;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

form {
    max-width: 400px;
    width: 100%;
}

.principal {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 0.6rem 0;
    padding: 10px;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    border: none;
    border-bottom: #00adb5 2px solid;
    justify-content: center;
    align-items: center;
    margin: 0.6rem auto;
}

.button {
    display: flex;
    max-width: 400px;
    width: 60%;
    padding: 10px 0;
    border-radius: 20px;
    background: #00adb5;
    color: #eee;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    
    border-style: none;
    justify-content: center;
    margin: 1.2rem auto;
    transition: background 1s ease ;
}
.button:hover {
    background: #304d63;
}

.button-cad, .button:hover {
    cursor: pointer;
}

.button-cad {
    display: flex;
    max-width: 400px;
    width: 60%;
    padding: 10px 0;
    border-radius: 20px;
    background: #eee;
    color: #00adb5;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;

    margin-top: 0.6rem;
    
    justify-content: center;
    margin: 0 auto;
    transition: background 1s ease ;
    border-color: #00adb5;
}

a {
    list-style: none;
    text-decoration: none;
    color: inherit;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.secundaria {
    width: 50%;
}

.sec {
    height: 100%;
    max-width: 1920px;
    width: 100%;
}

.redes {
    background: #eee;
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
    margin: 0 0.5rem;
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 768px) {
    .sec {
        display: none;
    }

    .principal {
        width: 100%;
    }

    .secundaria {
        display: none;
    }

    p{
        width: 70%;
        text-align: center;
        margin: 1rem auto;
    }

    h1 {
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 355px){
    .input{
        width: 70%;
    }

    h1 {
        text-align: center;
        margin: 0 auto;
    }
}